<div class="d-flex">
  <nav class="col-2 vh-100 bg-dark">
    <ul class="nav flex-column p-3">
      <li class="nav-item"><a class="nav-link text-white" routerLink="/dashboard">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link text-white" routerLink="/conta">Conta</a></li>
      <li class="nav-item"><a class="nav-link text-white" routerLink="/fluxo-caixa">Fluxo Caixa</a></li>
      <li class="nav-item"><a class="nav-link text-white" routerLink="/relatorios">Relatórios</a></li>
      <li class="nav-item"><a class="nav-link text-white" routerLink="/gestao-acessos">Gestão Acessos</a></li>
    </ul>
  </nav>

  <main class="col-10 p-4">
    <router-outlet></router-outlet>
  </main>
</div>
